@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');

body {
    overflow: hidden;
}

.bg-natan-souza {
    background: linear-gradient(to bottom, #5758BB, #9980FA, #D980FA);
    height: 105vh;
}

.bg-dark{
    background: linear-gradient(to bottom, #2d3436, #2c3e50, #34495e);
    height: 105vh;
    color: #fff;
}

.bg-light{
    background: linear-gradient(to bottom, #bdc3c7, #ecf0f1);
    height: 105vh;
    color: #000;
}

.mt-n4{
    margin-top: -1.5rem;
}

.personal-image{
    border-radius: 1.5rem;
}

h1, h4 {
    font-family: 'Merienda', cursive;
}