@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');

body {
    overflow: hidden;
}

.bg-natan-souza {
    background: linear-gradient(to bottom, #5758BB, #9980FA, #D980FA);
    height: 105vh;
}

.mt-n4{
    margin-top: -1.5rem;
}

.personal-image{
    border-radius: 1.5rem;
}

h1, h4 {
    font-family: 'Merienda', cursive;
}